body {
    font-family:  'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background: linear-gradient(#7a3d84 , #520360);
    min-height: calc(100vh - 4rem);
    padding: 2rem;
}

main {
    background-image: url('../images/confetti.png');
    background-repeat: repeat-x;
    background-size: auto;
    text-align: center;
    color: white;
}

.title {
    text-shadow: 1px 4px 10px rgba(0, 0, 0, .5);;
    font-size: 4rem;
    margin: 2rem 0 3rem !important;
    color: gold;
}

.subtitle {
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

p {
    margin-bottom: 1rem;
    color: white;
}

.instagram h2 {
    display: inline-block;
    background-image: url('../images/instagram.png');
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: bold;
    padding-left: 64px;
    font-size: 2rem;
    margin: 1rem 0;
}

.instagram h2 a {
    color: white;
}

.instagram ul li {
    display: inline-block;
}

.instagram ul li::before {
    content: '✓';
    display: inline-block;
    margin-right: 8px;
    color: white;
    vertical-align: middle;
    text-align: center;
}

.heart {
    margin: 2rem 0 0;
}

.heart img {
    animation: heathing 1s ease infinite;
    width: 48px;
    height: 48px;
}

.heart p {
    margin: 1rem 0 0;
}
  
@keyframes heathing {
    0% { transform: scale(.75); }
    20% { transform: scale(1); }
    40% { transform: scale(.75); }
    60% { transform: scale(1); }
    80% { transform: scale(.75); }
    100% { transform: scale(.75); }
}